<div class="mt-4">
    <table class="table">
        <thead>
            <tr>
            <th scope="col">STT</th>
            <th scope="col" style="width: 25%">Tên</th>
            <th scope="col" style="width: 15%">Loại</th>
            <th scope="col" style="width: 20%">Giá</th>
            <th scope="col" style="width: 25%">Thông tin sản phẩm</th>
            <th scope="col" style="width: 15%"></th>
            </tr>
        </thead>
        <tbody">
            {{#each products}}
                <tr>
                <th scope="row">{{sum @index 1}}</th>
                <td>{{this.ten}}</td>
                <td>{{this.loai.name}}</td>
                <td>{{convert this.gia}}₫</td>
                <td style="font-size: small;"><img src="{{this.url}}" width="128px" alt="{{this.ten}}">
                    {{{this.mo_ta}}}
                </td>
                <td>
                    <div class="d-flex justify-content-end">
                        <a href="/products/{{this._id}}/edit" class="btn btn-link">Sửa</a>
                        <a href="" id="delete-product" class="btn btn-link" name="{{this.ten}}" data-id="{{this._id}}" data-bs-toggle="modal" data-bs-target="#delete-product-model">Xóa</a>

                    </div>
                </td>
                </tr>
            {{/each}}

        </tbody>
    </table>
</div>

{{!-- Confirm delete product --}}
<div class="modal fade" tabindex="-1" id="delete-product-model" aria-labelledby="delete-product-model" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Xóa sản phẩm</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Bạn có chắc chắn xóa sản phẩm <b id="changeText"></b> ?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
        <button id="btn-delete-product" type="button" class="btn btn-danger">Xóa bỏ</button>
      </div>
    </div>
  </div>
</div>

{{!-- Delete form hidden --}}
<form name="delete-product-form" method="POST">
</form>


<script>
    var deleteModal = document.getElementById('delete-product-model')
    var productId
    var deleteForm = document.forms["delete-product-form"]
    var btnDeleteProduct = document.getElementById("btn-delete-product")

    deleteModal.addEventListener('show.bs.modal', function (event) {
        var button = event.relatedTarget;
        productId = button.getAttribute('data-id');
        var productName = button.getAttribute('name');
        var setText = document.getElementById('changeText').innerText = productName;
    })

    btnDeleteProduct.onclick = function () {
        deleteForm.action='/products/'+ productId +'?_method=DELETE';
        deleteForm.submit();
    }
</script>